* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(212, 225, 212);
}

header {
  background-color: #038c5a;
  padding: 5px 2%;
  height: 80px;
}
#id-prod {
  margin-right: 25px;
}

#preView {
  margin-top: -25%;
  margin-left: 36%;
  position: absolute;
  width: 450px; /* Define a largura */
  height: 450px;
  background-color: #f2f2f2;
  border-color: #038c5a;
  border: 1px solid black;
}

#uploadImage {
  margin-top: -30px;
  margin-left: 53.1%;
}

.desc-prod {
  margin-top: -10px;
  position: static;
}



.form-control {
  margin-top: 2rem;
  margin-left: 50%;
}

#logo {
  height: 7px;
  padding: 7px 2%;
  height: 80px;
  margin-top: -45px;
}

.logo h2 {
  font-size: 15px;
  float: right;
  color: white;
  text-align: center;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.info-header {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  margin-top: 4px;
}
.logo {
  margin-top: 5px;
  align-items: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

#account {
  height: 120px;
}

.acc {
  font-size: 15px;
}
#botãoRea {
  width: 100pt;
  height: 50px;
  border-radius: 25px;
  background-color: #038c5a;
  color: white;
  border-color: black;
  margin-top: 40px;
}

#botão {
  width: 100pt;
  height: 50px;
  border-radius: 25px;
  background-color: #038c5a;
  color: white;
  border-color: black;
  margin-top: 40px;
}

.acc a {
  text-decoration: none;
  color: white;
}

.info-header {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  margin-top: 5px;
}

#botão {
  margin-left: 3rem;
}

.logo {
  margin-top: 5px;
}

.informations p {
  margin-left: 50px;
  left: 200px;
}

.Imput {
  height: 30px;
  width: 220pt;
  display: block;
  margin-bottom: 20px;
}

#txtTextArea {
  width: 220pt;
  margin-bottom: 20px;
  margin-left: 50px;
  resize: none;
  overflow: hidden;
  transition: height 0.3s;
}

.check {
  height: 20px;
  width: 40px;
  position: absolute;
}

section.module.box {
  width: 70%;
  height: 70%;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px 20px;
  border-radius: 5px;
  margin-left: 23%;
  margin-top: 5%;
  background-color: #f2f2f2;
}

#account {
  height: 60px;
  width: 60px;
}

.informations {
  margin-top: 40px;
  flex-direction: row;
}

.prod-imagem {
  margin: 20px 0;
  padding: 20px 20px;
  margin-left: 55%;
  margin-top: 8%;
  height: 100px;
}

#picture__input {
  display: none;
}

.picture {
  width: 25rem;
  height: 25rem;
  background: #ddd;
  justify-content: center;
  margin-left: 5%;
  display: flex;
  align-items: center;
  margin-top: -300px;
  color: black;
  border: 1.5px dashed #038c5a;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: black;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

.botão:hover {
  background-color: #42dd9d;
  transition: 0.2s;
}

:root {
  --color-default: #038c5a;
  --color-white: #fff;
  --color-body: #e4e9f7;
  --color-light: #e0e0e0;
}

.sidebar {
  min-height: 100vh;
  width: 110px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all 0.5s ease;
  position: fixed;
  top: 80px;
  left: 0;
}

.sidebar.open {
  width: 310px;
}

.sidebar .logo_details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name {
  color: var(--color-white);
  font-size: 21px;
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
  opacity: 1;
}

.sidebar .logo_details #btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 5pt;
}

.sidebar.open .logo_details #btn {
  text-align: right;
}

.sidebar i {
  margin-left: 10px;
  color: var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input::placeholder {
  color: var(--color-light);
}

.sidebar.open input {
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar li a {
  margin-top: 5px;
  margin-left: 0px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}

.sidebar li a::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 0px 5px 5px 0px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  margin-left: 17px;
  z-index: -2;
}

.sidebar li a:hover::after {
  transform: scaleX(1);
  color: var(--color-default);
}

.sidebar li a .link_name {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--color-default);
}

.sidebar.open li a .link_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar .profile .profile_details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li.profile .name,
.sidebar li.profile .designation {
  font-size: 17px;
  font-weight: 400;
  color: var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-default);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
