body {
    font: normal 12pt Arial;
    background-color: #bad9cc;
    overflow: hidden
  }
  
  header {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    
    
  }
  
  h1{
    font-size: 30px;
    margin-top: 170px;
    
  }
  .info{
    display: none;
    font-size: 15px;
    margin-top: 10px;
    line-height: 20px;
    color: red;
    
  } 
  
  section {
    border-radius: 10px;
    padding: 35px;
    width: 400px;
    margin: auto;
    margin-top: 5%;
  }

section h1{
  margin-left: 70px;
}
  
input {
  border: 1px solid black;
  border-radius: 10px;
  height: 13px;
  width: 350px;
  padding: 15px;
  font-size: 15px;
  margin: 15px;
}


  
  button#botão {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 170px;
    height: 45px;
    border-radius: 23px;
    background-color: #038c5a;
    color: white;
    border-color: black;
    margin-top: 40px;
    text-decoration: none;
   
  }
  
  #botão:hover {
    background-color: rgb(61, 193, 138);
    transition: 0.2s;
    cursor: pointer;
  }
  
  
.copyright p{
    font-style: italic, bold;
}

#imagem-logo{
  height: 50px;
  width: 50px;
}
 
 
 
.links{
  text-decoration: none;
  display: flex;
  margin-left: 15px;
  font-weight: 500;
}

.links a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-style: oblique;
}

.links a:hover{
  color: #038C5A;
  transition: 0.5s;
}

#criarconta{
  margin-left: 90px;
}

  
  .imagem-lateral {
    position: absolute;
    bottom: 80px;
    left: -180px;
    width: 100%;
    max-width: 500px;
    opacity: 0.70;
  }
  .imagem-lateral2 {
    position: absolute;
    bottom: 78px;
    right: -120px;
    width: 100%;
    max-width: 260px;
    opacity: 0.70;
  }
  .feed{
    font-size: 16px;
    color: red;
    margin-left: 5%;
   
  }
  
  
  @media screen and (max-width:768px) {
      .imagem-lateral{
        
      }
    
  }
  @media screen and (max-width:1440px) {
      .imagem-lateral{
        width: 100%;
        left: -220px;
        top: 300px;
        max-width: 500px;
      }
      .imagem-lateral2{
        width: 100%;
        top: 640px;
        right: 55px;
  
      }
      .header{
        margin-top: 30px;
        
      }
  }
  
footer{
    position: absolute;
    bottom: 0;
    background-color: #038C5A;
    color: #FFF;
    width: 1000%;
    height: 80px;    
    text-align: center;
    line-height: 100px;
}
  