<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/AdicionarProduto.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>Adicionar Produto</title>
</head>

<body>
	<header>
		<div class="info-header">
			<div class="logo">
				<h2>Adicionar de Produto</h2>
				<img src="/img/logo.png" id="logo">
			</div>
		</div>
	</header> <!--header acabou-->



	<section class="main">

		<div class="sidebar">
			<div class="logo_details">
			  <i class="bx bxl-audible icon"></i>
			  <div class="logo_name">Painel de Controle</div>
			  <i class="bx bx-menu" id="btn"></i>
			</div>
			<ul class="nav-list">
			  <li>
				<a href="/lifetree/produtos/AdicionarProduto">
				  <i class="bx bx-add-to-queue"></i>
				  <span class="link_name">Adicionar Produto</span>
				</a>
				<span class="tooltip">Adicionar Produto</span>
			  </li>
		
			  <li>
				<a href="/lifetree/produtos/Estoque">
				  <i class="bx bx-bar-chart-alt-2"></i>
				  <span class="link_name">Estoque</span>
				</a>
				<span class="tooltip">Estoque</span>
			  </li>

			  <li>
				<a href="/lifetree/funcionario/login">
				  <i class="bx bx-log-out" id="log_out"></i>
				  <span class="link_name">Sair</span>
				</a>
				<span class="tooltip">Sair</span>
			  </li>
		
			  <li class="profile">
				<div class="profile_details">
				  <div class="profile_content">
					<h1 class="name"><span th:text="${session.funclogado.nome}"></span></h1>
					<h1 class="designation"><span th:text="${session.funclogado.acesso}"></span></h1>
				  </div>
				</div>
			  </li>
			</ul>
		  </div>

		<section class="module box">
			<div class="title">
				<h2> Adicionar produto</h2>
				<hr>
			</div>

			<div class="informations">
				<input type="file" name="picture__input" id="picture__input">
				<form action="#" th:action="@{/lifetree/produtos/save}" enctype="multipart/form-data"
					th:object="${produto}" method="post">
					<div class="form-group1">

						<img id="preView" alt="..." th:src="*{Imagem} ? @{${''+ produto.id}} : ${semImagem}"
							class="rounded mx-auto d-block img-fluid" />
					</div>
					<div class="desc-prod">
						<p>Nome do produto<input class="Imput" type="text" th:field="*{nome}"> </p>
						<p>Quantidade <input class="Imput" type="number" th:field="*{quantidade}" maxlength="10"></p>
						<p>Preço <input class="Imput" type="text" th:field="*{preco}"></p>
						<p> Descrição do Produto</p> <textarea id="txtTextArea" onkeydown="autoResize() "
							th:field="*{descricao}"></textarea>
						<p>Tipo de produto
							<select name="Tipo-produto" th:field="*{tpProduto}" onChange="onstatechange(this)">
								<option value="0">Escolha os tipos de produtos</option>
								<option th:each="tpProduto: ${tpProdutos}" th:text="${tpProduto.tpProduto}"
									th:value="${tpProduto.id}">
								</option>
							</select>
						</p>
						<br>
						<p>Marca do produto
							<select name="categoria" th:field="*{mcProduto}" onChange="onstatechange(this)">
								<option value="0">Escolha uma marca do produto</option>
								<option th:each="mcProduto : ${mcProdutos}" th:text="${mcProduto.Marca}"
									th:value="${mcProduto.id}">
								</option>
							</select>
							<br><br>
			

						<div class="form-group col-md-4">
							<label for="uploadImage" class="form-label">.</label>
							<input class="form-control" type="file" onchange="preViewImg();" name="file"
								accept="image/*" id="uploadImage">
						</div>
					</div>
			</div>


			<div class="button">
				<Button type="submit" id="botão">Adicionar</Button>
			</div>
			</form>
		</section>

	</section>
	<script src="/js/AdicionarProduto.js"></script>
	<script src="/js/Sidebar.js"></script>

</body>
</html>