<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="/css/AdicionarProduto.css">-->
	<link rel="stylesheet" href="/css/AdicionarProduto.css">

	<title>Adicionar Produto</title>
</head>

<body>
	<header>
		<div class="info-header">
			<div class="logo">
				<h2>Adicionar de Produto</h2>
				<img src="/img/logo.png" id="logo">
			</div>
			<div class="icon-header">
				<img src="/img/Adm-Icon.png" alt="ADM">
				<h2><span th:text="${session.funclogado.nome}"></span></h2>
			</div>
		</div>
	</header> <!--header acabou-->

	<section class="main">



		<div class="sidebar">
			<strong>
				<h1>Painel de Controle</h1>
			</strong>

			<a href="/lifetree/produtos/AdicionarProduto">Adicionar Produto</a>
			<a href="/lifetree/produtos/Estoque">Estoque</a>

			<br>
			<hr>
			<img src="/img/arvorelogo.png" id="arvore">


		</div><!--side bar-->

		<section class="module box">
			<div class="title">
				<h2> Adicionar produto</h2>
				<hr>
			</div>

			<div class="informations">


				<input type="file" name="picture__input" id="picture__input">
				<form action="#" th:action="@{/lifetree/produtos/save}" enctype="multipart/form-data"
					th:object="${produto}" method="post">
					<div class="form-group1">

						<img id="preView" alt="..." th:src="*{Imagem} ? @{${''+ produto.id}} : ${semImagem}"
							class="rounded mx-auto d-block img-fluid" />
					</div>
					<div class="desc-prod">
						<p>Nome do produto<input class="Imput" type="text" th:field="*{nome}"> </p>
						<p>Quantidade <input class="Imput" type="number" th:field="*{quantidade}" maxlength="10"></p>
						<p>Preço <input class="Imput" type="text" th:field="*{preco}"></p>
						<p> Descrição do Produto</p> <textarea id="txtTextArea" onkeydown="autoResize() "th:field="*{descricao}"></textarea>
						<p>Código de Barra <input class="Imput" type="number" th:field="*{cod_barra}" /></p>
						<p>Tipo de produto
							<select name="Tipo-produto" th:field="*{tpProduto}" onChange="onstatechange(this)">
								<option value="0">Escolha os tipos de produtos</option>
								<option th:each="tpProduto: ${tpProdutos}" th:text="${tpProduto.tpProduto}"
									th:value="${tpProduto.id}">
								</option>
							</select>
						</p>
						<br>
						<p>Marca do produto
							<select name="categoria" th:field="*{mcProduto}" onChange="onstatechange(this)">
								<option value="0">Escolha uma marca do produto</option>
								<option th:each="mcProduto : ${mcProdutos}" th:text="${mcProduto.Marca}"
									th:value="${mcProduto.id}">
								</option>
							</select>
							<br><br>
							<label type="text">Destaque</label>
							<input class="check" type="checkbox" value="SIM" checked id="checkbox"
								th:field="*{destaque}"></label>

						<div class="form-group col-md-4">
							<label for="uploadImage" class="form-label">.</label>
							<input class="form-control" type="file" onchange="preViewImg();" name="file"
								accept="image/*" id="uploadImage">
						</div>

					</div>

			</div>


			<div class="button">
				<Button type="submit" id="botão">Adicionar</Button>
			</div>
			</form>


		</section>

	</section>
	<script src="/js/AdicionarProduto.js"></script>

</body>

</html>