<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/EditarProduto.css">
    
    <title>Editar Produto</title>
</head>
<body>
    <header>    
        <div class="info-header">
            <div class="logo">
            <h2>Adicionar de Produto</h2>
            <img src="/img/arvorelogo.png" id="logo">
        </div>
        <div class="icon-header">
            <img src="/img/adm icon.png" alt="ADM">
            <h2>Funcionário</h2>
         </div>
        </div>
    </header> <!--header acabou-->

    <section class="main">

   

    <div class="sidebar">
        <strong>
          <h1>Editar Produto</h1>
        </strong>
   
      <a href="/lifetree/produtos/AdicionarProduto">Adicionar Produto</a>
      <a href="/lifetree/produtos/Estoque">Estoque</a>
  
        <br>
        <hr>
      </div><!--side bar-->

    <section class="module box">
        <div class="title">
            <h2> Editar produto</h2>
            <hr />
        </div>

    

		<form action="#" th:action="@{/lifetree/funcionario/atualizar/{id}(id=*{id})}" th:object="${funcionario}"
			method="post">
		
			<div class="desc-prod">
				<strong>
					<p>ID:<input class="Imput" type="text" th:field="*{id}" readonly /></p>
				</strong>
		
				<p>Nome do Funcionario<input class="Imput" type="text" th:field="*{Nome}"> </p>
				<p>Senha <input class="Imput" type="text" th:field="*{Senha}"></p>
				<p>Email <input class="Imput" type="text" th:field="*{Email}"></p>
				<p>Nivel de Acesso <input class="Imput" type="text" th:field="*{acesso}" /></p>
			</div>

			<div class="button">
				<button type="submit" id="botão">Editar</button>
		
				<a type="button" id="inativar"
					th:href="@{/lifetree/funcionario/inativar/{id}(id=${funcionario.id})}">Inativar</a>
		
			</div>
		
		</form>
    </section>

</section>
    <script src="/js/EditarProduto.js"></script>
</body>
</html>
