<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/EditarProdutoADM.css">
    
    <title>Editar Produto</title>
</head>
<body>
    <header>    
        <div class="info-header">
            <div class="logo">
            <h2>Adicionar de Produto</h2>
            <img src="/img/arvorelogo.png" id="logo">
        </div>
        <div class="icon-header">
            <img src="/img/adm icon.png" alt="ADM">
            <h2>Administrador</h2>
         </div>
        </div>
    </header> <!--header acabou-->

    <section class="main">

   

    <div class="sidebar">
        <strong>
          <h1>Editar Produto</h1>
        </strong>
   
        <a href="/lifetree/funcionario/AdicionarProdutoADM">Adicionar Produto</a>
        <a href="/lifetree/funcionario/EstoqueADM">Estoque</a>
       <a href="/lifetree/funcionario/ListaFunc">Funcionários</a>
  
        <br>
        <hr>
      </div><!--side bar-->

    <section class="module box">
        <div class="title">
            <h2> Editar produto</h2>
            <hr>
        </div>

        <div class="informations">
//
        <form action="#" th:action="@{/lifetree/funcionario/atualizar/{id}(id=*{id})}" enctype="multipart/form-data" th:object="${funcionario}" method="post">
            <div class="form-group1">
              
   
            </div>
            <div class="desc-prod">
                

                     
            <div class="form-group-col-md-8">
                
                <img id="preView" alt="..." th:src="*{Imagem} ? @{${'/lifetree/produtos/show/image/' + produto.id}} :${semImagem}">
                <label for="uploadImage" class="form-label">Imagem escolhida</label>
            </div>

            <div class="form-group-col-md-4">
                <input class="form-control" type="file" onchange="preViewImg();" name="file" accept="image/*" id="uploadImage">
            </div>
            
            
        
        </div>
        
        </div>
        

        <div class="button">
            <Button type="submit" id="botão">Editar</Button>
              
             <button type="submit" id="inativar" th:href="@{/lifetree/produtos/inativar/{id}(id=${produto.id})}">Inativar</button>
              </form>
        </div>
    </section>

</section>
    <script src="/js/EditarProdutoADM.js"></script>
</body>
</html>
