<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/Estoque.css">
<link rel="stylesheet" href="/css/ListaFunc.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<title>Estoque</title>

</head>

<body>
<header>
    <nav class="navbar">
        <div class="logo">Universo Literário</div>
  
        </ul>
    </nav>
</header>
<!--header acabou-->

<section class="main">

    <div class="sidebar">

        <div class="logo_details">

            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">

            <li>
                <a href="/universoliterario/livros/AdicionarLivro">
                    <i class='bx bx-book-add'></i>
                    <span class="link_name">Adicionar Livro</span>
                </a>
                <span class="tooltip">Adicionar Livro</span>
            </li>

            <li>
                <a href="/universoliterario/funcionario/Estoque">
                    <i class='bx bx-box'></i>
                    <span class="link_name">Estoque</span>
                </a>
                <span class="tooltip">Estoque</span>
            </li>

             <li>
                <a href="/universoliterario/funcionario/Funcionario">
                    <i class='bx bx-box'></i>
                    <span class="link_name">Funcionário</span>
                </a>
                <span class="tooltip">Estoque</span>
            </li>

            <li>
                <a href="/universoliterario/funcionario/login">
                    <i class="bx bx-log-out" id="log_out"></i>
                    <span class="link_name">Sair</span>
                </a>
                <span class="tooltip">Sair</span>
            </li>

            <li class="profile">
                <div class="profile_details">
                    <div class="profile_content">
                        <h1 class="name"><span th:text="${session.funclogado.nome}"></span></h1>
                        <h1 class="designation"><span th:text="${session.funclogado.acesso}"></span></h1>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    </div>
    </form>
  <div class="container">
    <h2>Estoque</h2>
    <div class="livro">
      <img src="imagem1.jpg" alt="Livro 1">
      <div class="livro-info">
        <h3>Título do Livro 1</h3>
        <p>Autor: Autor do Livro 1</p>
        <p>Editora: Editora do Livro 1</p>
        <p>Preço: R$19.99</p>
      </div>
      <div class="livro-btns">
        <td><a th:href="@{/universoliterario/funcionario/inativar/{id}(id=${funcionario.id})}"
						
            class="btn btn-purple btn-sm pb-0 " style="background-color: #7958ce;">Editar</a></td>
    </tr>
        <button class="btn btn-purple btn-sm pb-0 " style="background-color: #a682ff;">Inativar</button>
      </div>
    </div>
    <div class="livro">
      <img src="imagem2.jpg" alt="Livro 2">
      <div class="livro-info">
        <h3>Título do Livro 2</h3>
        <p>Autor: Autor do Livro 2</p>
        <p>Editora: Editora do Livro 2</p>
        <p>Preço: R$24.99</p>
      </div>
      <div class="livro-btns">
        <td><a th:href="@{/universoliterario/funcionario/inativar/{id}(id=${funcionario.id})}"
						
            class="btn btn-purple btn-sm pb-0 " style="background-color: #7958ce;" >Editar</a></td>
    </tr>
        <button class="btn btn-purple btn-sm pb-0 " style="background-color: #a682ff;">Inativar</a></button>
      </div>
    </div>
    <!-- Adicione mais divs .livro conforme necessário para exibir mais livros -->
  </div>
</body>

	
</section>

</section>

<script src="/js/Sidebar.js"></script>


</html>