<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilização.css">
    <title>Login</title>

</head>



<body>

<main id="container">
    

    <section>
	    <div>
	     
	        <h1>Universo Literário</h1>
	    </div>
        <form  action="#" method="post" th:object="${funcionario}" th:action="@{/universoliterario/funcionario/logar}">
            <div id="form_header">
                <input type="text" id="text" placeholder="Email" th:field="*{email}">
                <input type="password" id="senha" placeholder="Senha" th:field="*{senha}">
        

            

                <div class="links">
                    <a th:href="@{/universoliterario/funcionario/criarconta}" id="criarconta">Crie sua conta</a>
                </div>

                <button type="submit" id="botão">LOGIN</button>
            </div>
        </form>
    </section>

</main>
    <script src="/js/script.js"></script>

</body>
</html>
