<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/main/resources/static/css/estilização.css">


</head>

<body>
    <header>
        
        <h1>Life Tree</h1>
    </header>
    <section>
        <div on>
            <input type="text" id="text" placeholder="Usuário" onkeyup="verify()">
 
            <input type="password" id="senha" placeholder="Senha" onkeyup="verificar()" onfocus="esconder()">
            

            <a href="/Recuperação de Senha/recuperação.html" id="esquecisenha">Esqueceu a senha?</a>
            <!-- <a href="/TelasADM/Tela Dashboard ADM/TelaDashboard.html"><button id="botão">Entrar</button></a> -->
            <button id="botão">Entrar</button>
        </div>

    </section>
    <footer>
        <p> &copy; Life Tree</p>

    </footer>
    <div class="Imagem">

        <img src="src/main/resources/static/img/arvorelogo1.png" alt="Imagem" class="imagem-lateral">
        <img src="src/main/resources/static/img/arvorelogo1.png" alt="Imagem" class="imagem-lateral2">


    </div>

    <script src="script.js"></script>


</body>

</html>